body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(13, 70, 38);
}

body img {
    height: 150px;
    width: 150px;
}